// Colors
$DarkThemeBackground: #000;
$PureWhite: #FFF;
$WhitnessBackround: #EAECF0;
$NeonGreen: #4AE4A0;
$PureGray: #98A2B3;

// Fonts
$default-font: 'sans-serif';
$Inter: 'Inter', $default-font;
$Lato: 'Lato', $default-font;