@import "./globals.scss";

main {
    width: 100vw;
    height: 100vh;
    @include flex-center;
    position: relative;
}

.vector-layer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    img {
    position: absolute;

        &:nth-child(2) {
            right: 0;
        }
    }
}

.middle-container {
    width: fit-content;
    height: fit-content;
    @include flex-center;
    flex-direction: column;
    gap: 4rem;
}

.middle-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1.5rem;
}

.top-left-vector {
    width: 8.229rem !important;
    height: 14.341rem !important;
    transform: rotate(-11.971deg);
    flex-shrink: 0;
    fill: $GreenGlow;
}

.top-right-vector {
    width: 21.467rem !important;
    height: 17.573rem !important;
    fill: $GreenGlow;
}

.keyboard {
    width: 894px !important;
    height: 593.5px !important;
    flex-shrink: 0;
    fill: $GreenGlow;
}

.bottomlogin, .signup {
    @include reset-button;
    display: flex;
    justify-content: center;
    width: 324px;
    height: 86px;
    align-items: center;
    border-radius: 1rem;
    background: $GreenGlow;
    color: var(--neutral-1000, #10131B);
    text-align: center;
    font-family: Inter; /// add mixins
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
}

.text-top {
    width: 770px;
    height: 114px;
    flex-shrink: 0;
    color: var(--neutral-25, #FCFCFD);
    text-align: center;
    font-family: Inter; /// add mixins
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: 74.5px;
}

.text-bottom {
    width: 770px;
    height: 51px;
    color: var(--green-light, #96FFD1);
    text-align: center;
    font-family: Inter; /// add mixins
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}